@page "/NewOffer"
@using WebZaGradevinu.Data
@using WebZaGradevinu.Services
@using System.IO
@using Microsoft.AspNetCore.Http
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor httpContextAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits OwningComponentBase<JobsService>
@attribute [Authorize(Roles = "Admin,User")]


<h3>Nova ponuda</h3>

<MudBreadcrumbs Items="_items">
</MudBreadcrumbs>

<EditForm Model="@jobs" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="imeprijedloga" class="control-label">Ime poslovnog prijedloga</label>
        <MudTextField id="imeprijedloga" class="form-control" @bind-Value="jobs.Name"></MudTextField><br />
    </div>
    <div class="form-group">
        <label for="pocetakrad" class="control-label">Pocetak radova</label>
        <InputDate class="form-control" @bind-Value="jobs.PocetakRadova" id="pocetakrad"></InputDate><br />
    </div>
    <div class="form-group">
        <label class="control-label" for="descrip">Kratki opis posla</label>
        <MudTextField id="descrip" class="form-control" @bind-Value="jobs.Description"></MudTextField><br />
    </div>
    <div class="form-group">
        <label class="control-label" for="adresa">Adresa posla:</label>
        <MudTextField id="adresa" class="form-control" @bind-Value="jobs.Adresa"></MudTextField><br />
    </div>
    <div class="form-group">
        <label class="control-label" for="grad">Grad:</label>
        <InputSelect id="grad" class="form-control" @bind-Value="jobs.CityId">
            <br />
            <option selected disabled="true">-- Odaberite Grad --</option>
            @foreach (var grad in cities)
            {
                <option value="@grad.ID">@grad.Name</option>
            }

        </InputSelect>
    </div>
    <div class="form-group">
        <label class="control-label" for="sobe">Soba potrebna za radit</label>
        <InputSelect id="sobe" class="form-control" @bind-Value="jobs.Rooms">
            <br />
            <option selected disabled="true">-- Izaberite sobu --</option>
            @foreach (Jobs.Room soba in Enum.GetValues(typeof(Jobs.Room)))
            {
                <option>@soba.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label class="control-label" for="widedescrip">Širok opis posla</label>
        <InputTextArea id="widedescrip" class="form-control" @bind-Value="jobs.WideDescription"></InputTextArea><br />
    </div>

    <div class="form-group">
        <input type="submit" value="Spremi" class="btn btn-outline-primary" />
    </div>

</EditForm>


@code {

    private Jobs jobs = new Jobs();
    List<City> cities;
    public string UserName;

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem> {
    new BreadcrumbItem("Home", href: "/"),
    new BreadcrumbItem("Poslovi", href: "/Poslovi"),
    };

    protected override void OnInitialized()
    {
        cities = Service.GetCities();
        jobs.PocetakRadova = DateTime.Now;
    }

    private async Task HandleValidSubmit()
    {
        await Service.OnNewOfferCreate(jobs, UserName);
        NavigationManager.NavigateTo("Poslovi");
    }
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserName = state.User.Identity.Name;
    }

}
