@page "/Poslovi"

<h3>Jobs</h3>

<TabControl>
    <TabPage Text="Ponuda">
        <PonudaPage/>
    </TabPage>
    <TabPage Text="Moji Poslovi">
        <MojiPosloviPage/>
    </TabPage>
</TabControl>

@code {


}
