<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" type="button" class="btn btn-outline-dark"><i class="oi oi-person"></i>&nbsp;&nbsp; Dobrodošli, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn-outline-dark"><i class="oi oi-account-logout"></i>&nbsp; Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" type="button" class="btn btn-outline-dark">Register</a>
        <a href="Identity/Account/Login" type="button" class="btn btn-outline-dark"><i class="oi oi-account-login"></i>&nbsp;&nbsp; Log in</a>
    </NotAuthorized>
</AuthorizeView>
