@inherits LayoutComponentBase

<div class="page">
    <Toast />
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="/AcceptedJobsPage">Prihvaćeni poslovi</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
