@inherits LayoutComponentBase

<div class="page">
    <Toast />
    <div class="sidebar" style="background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #4730068f 70%);">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" style="background-color: #b1b9c380;">
            <LoginDisplay />
            <AuthorizeView Roles="Admin,User">
                <Authorized>
                    <a href="/AcceptedJobsPage">Prihvaćeni poslovi</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
