@page "/AdminPage"

<h3>AdminPage</h3>
<hr />

<TabControl>
    <TabPage Text="Dodavanje slika">
        <WebZaGradevinu.Pages.Home.ImageUpload />
    </TabPage>
    <TabPage Text="Moji Poslovi">
        <UserManage />
    </TabPage>
</TabControl>

@code {

}
