@page "/Onama"

<section id="main" style="background-color:burlywood">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title">O nama</h1>
            <p>
                Tvrtka Građevinski radovi d.o.o bavi se mnogim građevinskim radovima kao što su slaganje keramike i kamena, zidanje, žbukanje, farbanje, postavljanje
                PVC stolarije te vodoinstalaterstvo. Firma se većinom bazira na slaganju keramike, žbukanju i zidanju. Poćeli smo sa radom 30.06.2018 i unatoč relativno
                mladoj firmi imamo tim stručnjaka sa velikim iskustvom. Svaki dogovoreni posao se obavezujemo doći napraviti, u slućaju potrebnih reparatura dolazimo odmah
                po dojavi. Iza svakog obavljenog posla stojimo sa svojim imenom i iskustvom.
            </p>
            <p>
                Tvrtku su pokrenule mlade snage u želji za popravkom trenutnog stanja u državi. Osnivači tvrtke su Dominik Jezidžić, Mario Blažević, Dubravko Jezidžić.
                Svatko od njih je imao iskustvo u određenim granama građevine. Zajedno su spojili svoje znanje i okupili tim radnika koji svoj posao izvode stručno i savjesno.
                Trenutno tvrtka surađuje sa nekim velikim dobavljačima materijala kao što su Feroterm, Bauhaus, BauProfi Centar, Pevec i Keraterm. Također ostavruje suradnju i sa
                drugim tvrtkama koje se bave građevinom kao što je sad trenutno AgramCommerce.

            </p>
            <h1 class="page-title">Kontakt</h1>
            <p class="darkbc">
                Sjedište tvrtke nalazi se u Zagrebu, na Žitnjaku. Naše radno vrijeme je od 7-17 h od Ponedeljka do Petka, te Subotom od 8-15h. Adresa tvrtke je: Slavonska avenija 14,Zagreb.
                Telefonski broj tvrtke je 01/2001 253. Također mozete nas kontaktirati i na mailove: <a href="mailto:mario.blazevic@gmail.com" style="color: #e8491d">mario.blazevic@gmail.com</a>, <a href="mailto:dominik.jezidzic332@gmail.com" style="color: #e8491d">dominik.jezidzic332@gmail.com</a> ili <a href="mailto:dubravko.jezidzic@gmail.com" style="color: #e8491d">dubravko.jezidzic@gmail.com</a>.
            </p>
            <div id="googleMap" style="width:100%;height:440px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.805959543998!2d16.030695615298047!3d45.79511501932273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4766789ceef3a863%3A0x836806d81d51fae3!2sSlavonska+avenija+14%2C+10000%2C+Zagreb!5e0!3m2!1shr!2shr!4v1548210191162" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <br />
        </article>

    </div>
</section>

@code {
    
}
