@page "/slikePoslova"
@inject NavigationManager NavigationManager

<h3>Galerija slika</h3>
<hr />


<TabControl>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <button class="btn btn-secondary" @onclick="@NavigateToImageUpload">Upload Images</button>
        </Authorized>
    </AuthorizeView>
    
    <TabPage Text="Bazen">
        <Bazen />
    </TabPage>
    <TabPage Text="Kupaona">
        <Kupaona />
    </TabPage>
    <TabPage Text="Ostalo">
        <Ostalo />
    </TabPage>
</TabControl>

@code {

    private void NavigateToImageUpload() { NavigationManager.NavigateTo("ImageUpload"); }

}
